Source: python-lecm
Section: python
Priority: optional
Maintainer: Sebastien Badia <seb@sebian.fr>
Build-Depends: acme-tiny,
               debhelper (>= 9),
               dh-python,
               python3-all,
               python3-flake8,
               python3-openssl,
               python3-prettytable,
               python3-requests,
               python3-setuptools,
               python3-yaml
Standards-Version: 3.9.8
Vcs-Browser: https://github.com/sbadia/python-lecm.git
Vcs-Git: https://github.com/sbadia/python-lecm.git
Homepage: https://github.com/Spredzy/lecm

Package: python3-lecm
Architecture: all
Depends: acme-tiny,
         python3-openssl,
         python3-prettytable,
         python3-requests,
         python3-yaml,
         ${misc:Depends},
         ${python3:Depends}
Description: Let's Encrypt Certificate Manager (Python 3)
 Let's Encrypt Certificates Manager (lecm) is an utility that allows one to
 manage (generate and renew) Let's Encrypt SSL certificates.
 .
 This package provides the Python 3 version of the library.
